*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', black;
}

.container{
    margin: auto;
}

.nav{
    padding: 12px;
}

.nav ul{
    height: 50px;
    list-style-type: none;
}

.nav a{
    text-decoration: none;
    color: black;
}

.nav li{
    display: block;
    float: left;
    padding: 0px 24px;
    font-weight: 18px;
    font-size: 18px;
}

.header{
    
}

.header ul{
    height: 265px;
    
}

.header li{
    text-align: center;
    font-family: 'Montserrat', black;
}

.header h1{
    font-size: 64px;
}

.header p{
    font-size: 24px;
}

.content{

}

.content h1{
    font-family: 'Montserrat', black;
    font-size: 36px;
}

.content ul{
    height: 400px;
}

.content li{
    
}

.Tekst1 p{
    font-size: 18px;
}

.Tekst2 p{
    font-size: 15px;
}

.footer{
    background-color: black;
    opacity: 64%;
}

.footer ul{
    height: 64px;
    margin: auto;
}

.footer li{
    color: white;
    text-align: center;
    font-family: 'Montserrat', black;
    font-size: 24px;
}

.background{
 background-image: url("Pildid/coolbackgrounds-fractalize-clear_lagoon.png");
 background-color: #cccccc;
 background-repeat: no-repeat;
 background-size: cover;
}