*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', black;
}

.container{
    margin: auto;
}

.nav{
    padding: 12px;
}

.nav ul{
    height: 50px;
    list-style-type: none;
}

.nav a{
    text-decoration: none;
    color: black;
}

.nav li{
    display: block;
    float: left;
    padding: 0px 24px;
    font-weight: 18px;
    font-size: 18px;
}

.header{
    margin: auto;
    height: 265px;
}

.header li{
    text-align: center;
    list-style-type: none;
    padding: 12px 24px;
}

.header a{
  background-color: black;
  color: white;
  padding: 12px 24px;
  display: block;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  max-width: 7%;
  margin: auto;
}

.p1{
    font-size: 64px;
}

.p2{
    font-size: 24px;
}

.content{
    max-width: 50%;
    margin: auto;
    line-height: 1.5;
    height: 400px;
    padding: 44px 0px;
}

.img{  
    display: block;
    float: right;
    padding: 20px;
}

.content ul{
    
}

.p3{
    font-size: 36px;
}

.content li{
    list-style-type: none
}

.tekst p{
    font-size: 15px;
    padding: 24px 0px;
}

.tekst b{
    font-size: 18px;
}

.footer{
    background-color: black;
    opacity: 64%;
}

.footer ul{
    padding: 64px;
}

.footer li{
    color: white;
    text-align: center;
    font-size: 24px;
    list-style-type: none;
}

.background{
 background-image: url("Pildid/coolbackgrounds-fractalize-clear_lagoon.png");
 background-color: #cccccc;
 background-repeat: no-repeat;
 background-size: cover;
}